* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
}

.splash-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #3778c2;
  color: #fff;
  overflow: hidden;
}

.animated-background {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: transformImage 20s infinite linear;
}

.splash-content {
  text-align: center;
  z-index: 1;
}

.splash-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.splash-buttons button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  color: white;
  cursor: pointer;
  width: 100%;
}

.splash-buttons button:first-child {
  background-color: #3778c2;
}

.splash-buttons button:last-child {
  background-color: #5fb523;
}

.splash-buttons button:hover {
  background-color: #205580;
}

@keyframes transformImage {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}
